<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
	<title><%= title %></title>
	<link type="text/css" rel="stylesheet" href="/assets/styles/github-flavored-markdown-pilcrow-hljs.min.css">
</head>
<body>

<article class="markdown-body">

	<h1><%= title %></h1>

	<% for(let i = 0; i < files.length; i++){
		const node = files[i];
		if (node.isDirectory) {

		} else if (node.isFile && node.urlPlainName) {

		} else {
			continue;
		}
		const link = {
			name: node.title,
			href: node.isFile ? node.urlPlainName + '.html' : node.urlName,
		};
	%>
	<p>
		<a href="<%= link.href %>"><%= link.name %></a>
	</p>
	<% } %>

</article>

</body>
</html>
